@using EntityLayer.Concrete
@model List<Blog> 
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yazarın Blogları</h1>

<table class="table table-bordered">


    <tr>
        <th>#</th>
        <th>Blog Başlığo</th>
        <th>Oluşturma Tarihi </th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.BlogId</td>
            <td>@item.BlogTitle</td>
            <td>@(((DateTime)item.BlogCreateDate).ToString("dd-mm-yyyy"))</td>
            <td>@item.Category.CategoryName</td>
            <td>
                @if (item.BlogStatus)
                {
                    <span class="badge badge-secondary">Aktif</span>
                }
                else
                {
                    <span class="badge badge-success">Pasif</span>
                }
                    </td>
            <td><a href="/Blog/BlogDelete/@item.BlogId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Blog/EditBlog/@item.BlogId"class="btn btn-success">Düzenle</a></td>
        </tr>
    }

</table>

<a href="/Blog/BlogAdd" class="btn btn-primary"> Yeni Blog Ekle</a>